:root {
    --fast-transition: 0.3s;
    --faster-transition: 0.1s;
    --secondary-color: rgb(231, 76, 60);
    --primary-color: rgb(52, 152, 219);
    --tertiary-color: rgb(60, 231, 63);
    --background-color: rgb(24, 24, 24);
    --text-color: rgba(255, 255, 255, 0.9);
}

/* GENERAL  */

html {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--primary-color);
    cursor: pointer;
}

a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

/* IDS */

#root {
    opacity: 0.1;
    transition: opacity var(--fast-transition) ease-in-out;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1080px;
    min-width: 333px;
}

#root.loaded {
    opacity: 1;
}

/* Utils */

.fit {
    max-width: fit-content;
}

.y-overflow {
    overflow-y: auto;
}

.x-overflow {
    overflow-x: auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.spaced-items {
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

.margin {
    margin: auto;
}

.grow {
    flex-grow: 1;
}

.smooth-border {
    border-radius: 0.25rem;
}

.iconBtn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: inherit;
    width: 2rem;
    transition: opacity var(--fast-transition) ease-in-out;
}

.iconBtn:hover {
    scale: 1.5;
}